<header class="site-header">
  		<img src="img/me_cropped.jpg" id="title_img">
		<div id="contact">
			<h3>Joshua Adkins</h3>
			<h3>Research Assistant</h3>
			<h3>University of Michigan</h3>
			<br>
			<a href="tel:+19379029186">937.902.9186</a>
			<br>
			<a href="mailto:adkinsjd@umich.edu">adkinsjd@umich.edu</a>
		</div>
		<div class="nav_bar">
		<nav>
			<ul>
				<li class="nav_item_first"><a href="index.html">Home</a></li>
				<li class="nav_item"><a href="publications.html">Publications</a></li>
				<li class="nav_item"><a href="projects.html">Projects</a></li>
				<li class="nav_item"><a href="about.html">Personal</a></li>
				<li class="nav_item"><a href="http://github.com/adkinsjd"><img src="img/github.png" id="nav_img"></a></li>
				<li class="nav_item_last"><a href="http://lab11.eecs.umich.edu"><img src="img/lab11.jpg" id="nav_img"></a></li>
			</ul>
		</nav>
		</div>
</header>
