<header class="site-header">
  		<img src="img/me_cropped.jpg" id="title_img">
		<div id="contact">
			<h3>Joshua Adkins</h3>
			<h4>PhD Student</h4>
            <h4>Electrical Engineering and Computer Science</h4>
			<h4>University of California Berkeley</h4>
            <br>
			<a href="tel:+19379029186">937.902.9186</a>
            <br>
			<a href="mailto:adkins@eecs.berkeley.edu">adkins@berkeley.edu</a>
		</div>
		<div class="nav_bar">
		<nav>
			<ul>
				<li class="nav_item_first"><a href="index.html">Home</a></li>
				<li class="nav_item"><a href="publications.html">Publications</a></li>
				<li class="nav_item"><a href="presentations.html">Presentations</a></li>
				<li class="nav_item"><a href="about.html">Personal</a></li>
				<li class="nav_item"><a href="http://github.com/adkinsjd"><img src="img/github.png" id="nav_img"></a></li>
				<li class="nav_item_last"><a href="http://lab11.eecs.umich.edu"><img src="img/lab11.jpg" id="nav_img"></a></li>
			</ul>
		</nav>
		</div>
</header>
